body { background: #c3c110 url(../images/GreenBrown/bg.png) repeat-x 0 0 }

#hdr .hblock.support h3 { color: #7E7E13 }

ul#nav { background-image: url(../images/GreenBrown/nav.png) }
ul#nav li { background-image:url(../images/GreenBrown/navli.png) }
ul#nav li.current-menu-item a.first, body.wpsc ul#nav li.wpsc a.first, body.blog ul#nav li.blog a.first { background: url(../images/GreenBrown/navon.png) repeat-x 0 0; color: #fff }

#pagetop { background: url(../images/GreenBrown/slidetop.png) repeat-x 0 100%; color: #333 }
#pagetop.sliding { background: #fff url(../images/GreenBrown/slidetop.png) repeat-x 0 100%; color: #fff }
#pagetop a { color: #000 }
.sliding .slide { text-shadow: none }
.pbpform input.submit { background-image: url(../images/GreenBrown/submit.png); color: #fff }

#fbar { background: #630 url(../images/GreenBrown/fbar.png) repeat-x 0 0 }

#wpadminbar .quicklinks #wp-admin-bar-progo_colorschemeGreenBrown a { font-weight: bold }