body { background: url(../images/BlackOrange/bg.png) repeat 0 0 }
#fx { background: url(../images/BlackOrange/bg-grad.png) repeat-x 0 0 }
.custombg #fx { background: none }
#pagetop { background: #f60 url(../images/BlackOrange/pagetop.jpg) no-repeat left bottom }
#pagetop.sliding.grid_12 { background-image: url(../images/BlackOrange/pagetop.jpg) }
#pagetop .page-title { font-weight: normal; text-shadow: 2px 2px 2px rgba(0,0,0,0.25) }

.pbpform { background-image: url(../images/BlackOrange/hform.jpg) }
.pbpform .tar { color: #fff; text-shadow: 2px 2px 2px rgba(0,0,0,0.4) }
.pbpform input.submit { background-image: url(../images/BlackOrange/submit.png); color: #fff; text-shadow: 2px 2px 2px rgba(0,0,0,0.4) }
.secondary .pbpform { background-image: url(../images/BlackOrange/hform2.png) }

#hdr .hblock.support h3 { color: #f60 }

#wpadminbar .quicklinks #wp-admin-bar-progo_colorschemeBlackOrange a { font-weight: bold }