#hdrap {
	background-image: url(../images/colors/LightBlue/hdr.png)
}

ul#nav, ul#nav li {
	background-image: url(../images/colors/LightBlue/navli.png)
}

ul#nav li.current-menu-item a.first,
body.blog ul#nav li.blog a.first,
ul#nav li.hover a.first,
ul#nav li a.first:hover {
	background-image: url(../images/colors/LightBlue/navon.jpg);
	color: #fff;
}

.Layout4 .inside {
	background-image: url(../images/colors/LightBlue/slide.jpg)
}

.pbpform .tar td {
	background: url(../images/colors/LightBlue/tar.jpg) no-repeat 50% 100%
}

a.button, input.button, #main input.button {
	background-color: #006699;
}
#pagetop {
	background-image: url(../images/colors/LightBlue/pagetop.jpg);
}
#pagetop h1.page-title {
	color: #ffffff;
}
.callout {
	background-image: url(../images/colors/LightBlue/call-to-action.jpg);
}
.block h3.title {
	color: #006699;
}
#wpadminbar .quicklinks #wp-admin-bar-progo_colorschemeLightBlue a { font-weight: bold }